
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 900;
}

.body {
  background-image: linear-gradient(122deg, rgba(228, 226, 205, 0.28), rgba(211, 208, 243, 0.09) 66%), linear-gradient(295deg, rgba(15, 170, 236, 0.21), rgba(217, 191, 205, 0.1) 75%), linear-gradient(25deg, rgba(198, 191, 217, 0.8), rgba(198, 191, 217, 0.1) 75%);
  font-family: Lora, sans-serif;
  color: rgba(6, 15, 0, 0.95);
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

.section {
  display: block;
  padding-top: 10vw;
  padding-bottom: 0px;
}

.kevin {
  display: inline;
}

.kevin.expandable {
  display: inline-block;
}

.kevin.expandable:hover {
  position: relative;
  left: auto;
  right: auto;
  text-shadow: none;
}

.kg {
  display: none;
}

.expandable {
  display: inline-block;
  color: #2a436f;
  text-decoration: none;
  cursor: e-resize;
}

.expandable:hover {
  display: inline-block;
  margin-right: 0em;
}

.expandable:focus {
  margin-right: 0px;
}

.designer.expandable {
  display: inline-block;
}

.text {
  display: inline;
}

.bayarea.expandable {
  display: inline-block;
}

.productdesigner {
  display: none;
}

.sanjose {
  display: none;
}

.handwave {
  display: inline-block;
  padding: 0px;
  background-color: transparent;
  font-size: 2em;
}

.container {
  display: none;
  margin-bottom: 0.6125em;
  text-align: left;
}

.container.aboutdesign {
  display: none;
}

.container.cisco {
  display: none;
}

.container.links {
  display: none;
  margin-top: 2em;
  font-size: 0.9em;
}

.div-block {
  margin-bottom: 0.5em;
  text-align: left;
}

.aboutdesign {
  display: inline;
}

.xcalar {
  display: inline;
}

.leadproductdesigner {
  display: none;
}

.leadproductdesigner.expandable {
  display: inline-block;
}

.refresh {
  display: none;
  padding: 0px;
  background-color: transparent;
  font-size: 2em;
}

.recently {
  display: none;
}

.recently.expandable {
  display: inline-block;
}

.period {
  display: inline;
}

.buildingthefuture {
  display: none;
}

.period2 {
  display: none;
}

.aboutxcalar {
  display: none;
}

.aboutappdev {
  display: none;
  margin-top: 0.5em;
}

.buildthefuture {
  display: none;
}

.buildthefuture.expandable {
  display: none;
}

.aboutcisco {
  display: inline;
}

.seniorux.expandable {
  display: none;
}

.cisco.expandable {
  display: inline-block;
}

.evolvediot {
  display: none;
}

.at {
  display: inline;
}

.adesigner {
  display: none;
}

.welcome {
  margin-bottom: 0.5em;
}

.ciscoiot {
  display: none;
}

.ciscoiot.expandable {
  display: none;
}

.external {
  color: #2a436f;
  text-decoration: none;
}

.text-block {
  display: inline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

/* from html head */

.section {
  width: calc(100% - 2em);
  max-width: 40em;
  margin: 0 auto;
}
a, .collapsable, .expandable {
  display: inline-block;
  transition: all .125s ease-out;
  position: relative;
}
a::after, .expandable::after, .collapsable::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background-color: #00b8ff;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all .125s ease-out;
}
a.external::after {
  height: 3px;
}
a:hover,
a:focus,
.expandable:hover, 
.expandable:focus, 
.collapsable:hover, 
.collapsable:focus {
  transition: all .125s ease-in;
}
a:hover::after,
a:focus::after,
.expandable:hover::after, 
.expandable:focus::after, 
.collapsable:hover::after, 
.collapsable:focus::after {
  transition: all .125s ease-in;
}
a:hover,
a:focus,
.expandable:hover,
.expandable:focus {
  transform: translateY(-.1em);
}
a.external:hover,
a.external:focus {
  transform: translateY(0);
}
a:hover::after,
a:focus::after,
.expandable:hover::after,
.expandable:focus::after {
  transform: translateY(.1em);
}
a.external:hover::after,
a.external:focus::after {
  background-color: rgba(0, 183, 255, 0.25);
  height: 1.5em;
  width: calc(100% + .5em);
  transform: translateX(-.25em);
  bottom: 1.5em;
}
.collapsable:hover::after,
.collapsable:focus::after {
  transform: translateY(-.1em);
}
.w-container {
  max-width: 100%;
}